* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
.header-img-container{
    width: 100vw;
    height: calc(100vh - 4rem);
    background-image: url('../images/destination-header-img.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.des-heading-el {
    letter-spacing: 4px;
    font-size: 3.5rem;
}
.feedback-info {
    width: 100vw;
    height: 70vh;
    background-image: url('../images/aboutUs.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
footer {
    background-color: #333333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue","Poppins", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.text-align {
    text-align: start;
    color: rgba(255, 255, 255, 0.334);
}
.footer-navbar-nav {
    list-style: none;
    padding: 0px;
}
.footer-navbar-nav li {
    margin-bottom: 5px;
}
.footer-navbar-nav li:hover {
    color: #ffffff;
}
.email-el {
    border: solid 1px rgba(255, 255, 255, 0.334);
    background-color: #333333;
    height: 2rem;
    color: #ffffff;
}
.email-btn {
    border: none;
    background-color: #EF6C57;
    color: #ffffff;
    height: 2.1rem;
    min-width: 3.4rem;
    cursor: pointer;
}
.footer-icon-color {
    color: rgba(255, 255, 255, 0.334);
    cursor: pointer;
}
@media screen and (min-width: 992px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2rem;
    }
    .grid-container-two{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    .img-container {
        height: 70vh;
        cursor: pointer;
        overflow: hidden;
    }
    .img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .img-container img:hover {
        transform: scale(1.2);
        transition: all 500ms;
    }
    .footer-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
    }
    .grid-container-two{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 2rem;
    }
    .img-container {
        height: 70vh;
        cursor: pointer;
        overflow: hidden;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    img:hover {
        transform: scale(1.2);
        transition: all 500ms;
    }
    .footer-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
    }
    .grid-container-two{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
    }
    .img-container {
        height: 60vh;
        cursor: pointer;
        overflow: hidden;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    img:hover {
        transform: scale(1.2);
        transition: all 500ms;
    }
    .hidden-text {
        display: none;
    }
    .footer-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
@media screen and (max-width: 575px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 2rem;
    }
    .grid-item{
        margin: 0rem 2rem;
    }
    .detail-container {
        padding: 0rem 2rem;
    }
    .sub-grid-container-two {
        margin-bottom: 2rem;
    }
    .img-container {
        height: 80vh;
        cursor: pointer;
        overflow: hidden;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    img:hover {
        transform: scale(1.2);
        transition: all 500ms;
    }
    .hidden-text {
        display: none;
    }
    .footer-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}